


  <div class="fluid-conatiner h-100 home-background">
    <div class="row p-2 home-border header card-background shadow-sm">
      <div class="col-auto">
         <img src="assets/currency-exchange.png" class="logo"/>
      </div>
      <div class="col right-side m-auto">
          <button class="m-2 app-button p-3" [routerLink]="['currencies/currency-details/EUR/USD']">EUR-USD Details</button>
          <button  class="app-button p-3" [routerLink]="['currencies/currency-details/EUR/GBP']">EUR-GBP Details</button>
      </div>  
    </div>

         <router-outlet></router-outlet>  
  </div>